/* variables */


body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(./img/guitar_header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #010101;
  color: #fff;
}

.logo {
  font-family: "sonsie one", cursive;
  font-size: 75px;
  background: linear-gradient(90deg, rgb(113, 184, 255), #9b0af0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px white; agrega un perfil al texto */
  text-shadow: 3px 3px 1px #9b0af080;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
}

.menu {
  display: flex;
}

.menu ul {
  display: inherit;
}

.menu ul li {
  display: inherit;
}

.menu ul li a {
  text-shadow: 1px 2px black;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 20px 0;
  margin: 0 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.hero div {
  width: 75%;
}

.hero_title {
  text-shadow: 3px 3px 2px #9b0af0;
  /* -webkit-text-stroke: 1px black; agrega un perfil al texto */
  font-size: 60px;
  padding: 0;

}

.hero_text {
  text-shadow: 3px 3px 2px #9b0af0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
}

.hero_btn {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #9b0af080;
  padding: 5px 15px;
  border-radius: 10px;
}

.content {
  border: solid transparent;
  background: #fff;
  color: #010101;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content_title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content_title h2 {
  padding-bottom: 0;
  font-size: 30px;
  color: #010101;
}

.guitar_container {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px 10px;
  width: 75%;
}

.guitar_img {
  height: 300px;
}

.guitar_title {
  font-size: 45px;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}

.contact h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.contacto_directo {
  display: flex;
  justify-content: space-between;
}

.contacto {
  margin-right: 20px;
}

.radio {
  display: flex;
  height: 40px;
  align-items: center;
}

.checkbox {
  font-size: 13px;
}

.comentarios textarea {
  height: 60px;
}

.comentarios button {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: #9b0af080;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
}

.tel {
  display: inline-block;
  margin-right: 10px;
}

.email {
  display: inline-block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
}

/* estilos responsivos */

@media screen and (max-width: 760px) {
  .contact {
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
  .contacto_directo {
    flex-wrap: wrap;
    justify-content: center;
  }
}